#page form {
  input:not([type=checkbox]):not([type=radio]):not([type=submit]), select, textarea {
    width:100%;
    max-width:100%;
    padding:10px;
    border-radius:0;
    margin-bottom:1em;
    font-size:1rem;
  }
  input[type=submit] {
    padding:12px !important;
    min-width:200px !important;
    font-weight:900 !important;
  }
}

#gform_1 {
  label {
    display:none;
  }
}

body #page .gform_wrapper {
  .gform_footer {
    padding-top:0;
    margin-top:0;
  }
  .gfield {
    padding-right:0;
    margin-bottom:1.3em;
  }
}



iframe {
  width:100%;
}

.site-content form {
  position:relative;
  input, textarea {
    margin:0 !important;
    &::placeholder {
      text-transform:uppercase;
      font-weight:900;
      color:#aaa;
      font-size:15px;
    }
  }
  button[type=submit] {
    right:0;
    border-radius:0;
    border:2px solid $green;
    background:$green;
    color:white;
    font-size:1rem;
    cursor:pointer;
    padding:20px 14px;
    span {
      top:-1px;
      position:relative;
    }
    &:hover {
      background:$blue;
      border-color:$blue;
    }
  }
}
