#hero {
  margin-top:30px;
  @media #{$tablet} {
   margin-top:60px;
  }
  /*body:not(.home) & {
    .container {
      position:static !important;
      @include overlay(.8, darken($blue, 5%));
      .hero-content {
        text-shadow:none;
      }
    }
    .slide > img {
      filter:grayscale(100%);
    }
  } */
  .slide {
    @include gradient(#000, top, .65);
    &:after {
      height:80%;
    }
    &.default {
      h1 {
        @media #{$tablet-up} {
          font-size:3.5rem;
        }
        @media #{$tablet} {
          font-size:3rem;
        }
        @media #{$mobile} {
          font-size:2.2rem;
        }
      }
    }
  }
  position:relative;
  overflow:hidden;
  .slide > img {
    @extend .bg-img;
    will-change:transform;
    .home & {
      object-position:center 60%;
    }
  }
  .container {
    display:flex;
    height:100%;
    align-items:flex-end;
    @media #{$tablet-up} {
      padding-top:40vh;
      padding-bottom:$base-spacing * 4;
      .home & {
        padding-top:48vh;
        padding-bottom:$base-spacing * 4;
      }
    }
    padding-top:35vh;
    padding-bottom:$base-spacing * 2;
  }
  @include headings {
    color:white;
    line-height:.88;
    letter-spacing:-.04em;
  }
  .btn {
    font-size:.9rem;
  }
  p {
    line-height:1.1;
  }
  .hero-content {
    > *:last-child {
      margin-bottom:0;
    }
    h2 {
      font-size:2.8rem;
      @media #{$tablet} {
        font-size:2.2rem;
      }
      @media #{$mobile} {
        font-size:1.8rem;
      }
    }
    h3 {
      font-size:2.2rem;
      @media #{$tablet} {
        font-size:1.8rem;
      }
      @media #{$mobile} {
        font-size:1.5rem;
      }
    }
    body:not(.home) & {
      @media #{$tablet-up} {
        font-size:1.6rem;
      }
      font-weight:500;
      h1 {
        font-size:3.5rem;
        @media #{$tablet} {
          font-size:2.8rem;
        }
        @media #{$mobile} {
          font-size:2rem;
        }
      }
      p {
        line-height:1;
        max-width:550px;
        //letter-spacing:.02em;
      }
    }
    > *:not(:last-child):not(p) {
      margin-bottom:15px;
    }
    p {
      margin-bottom:20px;
    }
    font-size:1.3em;
    font-weight:700;
    width:100%;
    body.page & {
      max-width:640px;
    }
    color:white;
    position:relative;
    z-index:999;
  }
  @extend .text-shadow;

  &.flickity-enabled {
    &:hover {
    .flickity-prev-next-button {
        opacity:1 !important;
        pointer-events:all !important;
      }
    }
    height:83vh;
    min-height:600px;
    @media #{$tablet} {
      min-height:480px;
    }
    .container {
      h1 {
        font-size:3rem;
      }
      min-height:600px;
      @media #{$mobile} {
        h1 {
          font-size:2.4rem;
        }
      }
      @media #{$tablet} {
        h1 {
          font-size:2.8rem;
        }
        min-height:480px;
        padding-bottom:$base-spacing * 2;
      }
      margin:0 auto;
      height:83vh;
      position:relative;
      padding-bottom:$base-spacing * 4;
    }
    .slide {

      //min-height:85vh;
      width:100%;
      .hero-content {
        max-width:730px;
        position:absolute;
        bottom:$base-spacing * 3;
        @media #{$tablet-up} {
          bottom:$base-spacing * 4;
        }
        padding-left:$base-spacing;
        left:0;
        right:0;
        padding-right:$base-spacing;
        width:100%;
      }
      &.default {
        h1 {
          @media #{$tablet-up} {
            font-size:3.5rem;
          }
          @media #{$tablet} {
            font-size:2.3rem;
          }
        }
      }
    }
    .flickity-prev-next-button {
      transition:opacity .3s, background .15s;
      &:hover {
        background:rgba($blue, .8);
        &:after {
          content:none;
        }
      }
      @media #{$tablet-up} {
        opacity:0;
        pointer-events:none;
        display:block;
      }
      display:none;
      @include gradient(#000, left, .4);
      &:after {
        height:100%;
        z-index:1;
      }
      right:0;
      padding:23px;
      bottom:0;
      height:100%;
      background:transparent;
      border-radius:0;
      width:100px;
      margin-top:$base-spacing * 1.5;
      svg {
        z-index:999;
        width:50px;
      }
        path {
          fill:white !important;
        }
        &.previous {
          display:none;
        }
      //}
    }
    .flickity-page-dots {
      @media #{$tablet-up} {
        display:block;
        text-align:center;
        bottom:0;
        padding-top:10px;
        padding-bottom:10px;
        right:0;
      }
      text-align:right;
      right:$base-spacing;
      margin-bottom:0;
      bottom:0;
      .dot {
        border-color:white;
        &.is-selected {
          background:white;
        }
      }
    }
  }
  body.home & {
    border-bottom:15px solid $blue;
  }
}

#crumb {
  line-height:1.7;
  width:100%;
  white-space:nowrap;
  overflow:auto;
  .container > span:last-child {
    padding-right:$base-spacing;
  }
  body.home & {
    display:none;
  }
  background:$blue;
  padding:12px 0;
  font-size:.6rem;
  font-weight:900;
  text-transform:uppercase;
  letter-spacing:.05em;
  color:white;
  .fa-home {
    position:Relative;
    top:2px;
    font-size:15px;
  }
  a {
    color:white;
    font-weight:900;
    &:hover {
      color:$lightest-blue;
    }
  }
}
